<!DOCTYPE html>
<html lang="en">

<head>
  <title>Notflix</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <script src="https://kit.fontawesome.com/328572e25b.js" crossorigin="anonymous"></script>
</head>

<body>

  <nav>
    <span>notflix</span>
    <a href="https://fontmeme.com/netflix-font/"><img src="https://fontmeme.com/permalink/211017/3b5e284e89be81e698a425f2e9f192c1.png" alt="netflix-font" border="0"></a>

    <div class="right-side-content">
      <button type="button">Login</button>
    </div>
  </nav>

    <section>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet porttitor eget dolor morbi non arcu risus quis varius. Phasellus egestas tellus rutrum tellus pellentesque eu.</p>
      <button class="button">
        Start Session
        <div class="button__horizontal"></div>
        <div class="button__vertical"></div>
      </button>
    </section>

    <footer>
      <i class="fa-solid fa-dove fa-2xl"></i>
      <i class="fa-brands fa-linkedin"></i>
      <i class="fa-brands fa-facebook-square"></i>
      <i class="fa-brands fa-youtube"></i>
      <i class="fa-brands fa-twitter-square"></i>
    </footer>

</body>

</html>
