<!DOCTYPE html>
<html lang="en">

<head>
  <title>Notflix</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

  <nav>
    <img src="https://fontmeme.com/permalink/211017/3b5e284e89be81e698a425f2e9f192c1.png" alt="netflix-font" border="0">
    <div class="right-side-content">
      <button type="button">Login</button>
    </div>
  </nav>

  <section>
    <button class="button">
      Start Session
      <div class="button__horizontal"></div>
      <div class="button__vertical"></div>
    </button>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Amet porttitor eget dolor morbi non arcu risus quis varius. Phasellus egestas
      tellus rutrum tellus pellentesque eu.</p>
  </section>

  <div class="forms-container">
    <form action="" method="POST" id="search-from">
      <label for="search">Search by name:
        <input type="text" name="search" id="movie-input" list="suggestions">
        <datalist id="suggestions">
          <option value="Black">
          <option value="Red">
          <option value="Green">
          <option value="Blue">
          <option value="White">
        </datalist>
      </label>
    </form>

    <!-- show list goes here -->

    <form action="/sessions" method="POST" id="filter-form">
      <p>Filters:</p>
      <label for="show-type">Type of shows: <br>
        <input type="radio" name="type-show" value="movies" class="radio-movie"><label for="type-movie">Movies</label>
        <input type="radio" name="type-show" value="series" class="radio-series"><label for="type-series">Series</label>
      </label><br>
      <label for="genres">Categories: <br>
        <input type="checkbox" class="drama-checkbox" name="genres" value="Drama"><label for="genres">Drama</label>
        <input type="checkbox" class="action-checkbox" name="genres" value="Action"><label for="genres">Action</label>
        <input type="checkbox" class="comedy-checkbox" name="genres" value="Comedies"><label for="genres">Comedy</label>
        <input type="checkbox" class="fantasy-checkbox" name="genres" value="Fantasy"><label
          for="genres">Fantasy</label><br>
        <input type="checkbox" class="horror-checkbox" name="genres" value="Horror Films"><label
          for="genres">Horror</label>
        <input type="checkbox" class="romance-checkbox" name="genres" value="Romantic Films"><label
          for="genres">Romance</label>
        <input type="checkbox" class="thriller-checkbox" name="genres" value="Thrillers"><label
          for="genres">Thriller</label>
        <input type="checkbox" class="sci-fi-checkbox" name="genres" value="Sci-Fi"><label for="genres">Sci-Fi</label>
      </label> <br>
      <label for="num-options">Number of options:
        <input type="number" name="num-options" min="2" class="num-options" value="10">
      </label> <br>
      <label for="num-participants">Number of participants:
        <input type="number" name="num-participants" min="2" class="num-participants" value="2">
      </label> <br>
      <div class="buttons">
        <input type="button" value="Cancel, I'm lame" class="cancel-button">
        <input type="submit" value="Let'go!">
      </div>
    </form>
  </div>

  <footer>
    <i class="fa-brands fa-github-square fa-lg"></i>
    <i class="fa-brands fa-facebook-square fa-lg"></i>
    <i class="fa-brands fa-instagram-square fa-lg"></i>
    <i class="fa-brands fa-twitter-square fa-lg"></i>
    <i class="fa-brands fa-youtube fa-lg"></i>
  </footer>

</body>

</html>
